doctype html 
html(leng="en")
   head
      title Flash Cards
   body 
      include includes/header.pug

      //- the block content is key word that lets pug know it can inject its html
      block content 
   
      include includes/footer.pug
